@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using UI.Models
@model AddCourseToStudentModel

@{
    foreach(var item in @Model.Student.Courses)
    {
        <div class="d-flex mt-2 align-center">
                    <span class="fw-light fs-3 fw-bold">
                        @item.Key.Id
                    </span>
                    <span class="fw-light fs-5 ms-2">
                        @item.Key.StartDate.ToShortDateString() - @item.Key.EndDate.ToShortDateString()
                    </span>

                    @{
                        foreach(var v in @item.Value)
                        {
                            <span class="fw-light fs-5 ms-2">
                                @v.Key.ToShortDateString() - @v.Value.ToShortDateString()
                            </span>
                        }
                    }
                    

                    <a class="btn btn-outline-Success ms-2" asp-controller="Students" asp-action="AddVacationToCourseView" 
                    asp-route-id=@item.Key.Id asp-route-studentId=@Model.Student.Id> Add Vacation </a>
        </div>
    }
}